---
import cards from "../cards-ssr.json"

interface cards {
	title: string;
	image: string;
	url: string;
}


---

<div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 sm:mx-5 md:mx-16 lg:mx-32 my-10 gap-5">
	{
		cards.map(card => (
			<a href={card.url}>
				<div class="container rounded-xl bg-[#26242a] hover:bg-[#332D41] text-[#e6e1e5] hover:text-[#CCC2DC] p-5" >
					<img class="mx-auto" src={card.image}>
					<h2 class="text-2xl md:text-4xl font-bold" transition:name={card.title}>
						{card.title}
					</h2>
				</div>
			</a>
		))
	}	
</div>
