---
import { Icon } from 'astro-icon'
---

<footer class="bottom-0 left-0 z-20 w-full mb-20 md:mb-0 p-4 bg-[#49454f] shadow md:flex md:items-center md:justify-between md:p-6 lg:px-20">
    <span class="text-sm text-[#cac4d0] sm:text-center">© 2023 <a href="/" class="hover:underline">Tower of Info</a>
    </span>
    <ul class="flex flex-wrap items-center mt-3 my-auto text-sm font-medium text-[#cac4d0] sm:mt-0 gap-x-5">
        <li>
            <a href="#" class="hover:underline me-4 md:me-6"><Icon name="fa-brands:discord"/></a>
        </li>
        <li>
            <a href="#" class="hover:underline me-4 md:me-6"><Icon name="fa-brands:github"></a>
        </li>
    </ul>
</footer>